:root {
    --color-secondary: #222;
    --color-secondary-alt: #212121;
    --color-primary: #fff;
    --color-accent: #2287fa;
    --color-disabled: #888;
    --color-ripple: var(--color-accent);
    --color-ripple-alt: var(--color-secondary);
    --color-app-bar: #111;
    --color-full-dark: #000;
    --color-green: #28cd00;
    --color-yellow: #fa0;
    --color-red: #ff3f25;
    --color-dark-red: #cd0000;
}

body,
html {
    background-color: var(--color-secondary);
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--color-primary);
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    user-select: none;
}

svg {
    width: 100%;
    height: 100%;
}

.disabled {
    background: var(--color-disabled);
}

.center-flexed {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/*
 * Notifications
 */
#notif-holder {
    max-width: 300px;
    width: 80%;
    position: fixed;
    display: block;
    right: 5%;
    z-index: 1000;
    top: 50px;
    height: 100%;
    pointer-events: none;
}
.notification {
    position: relative;
    display: flex;
    text-align: center;
    font-size: 20px;
    top: 5px;
    width: auto;
    max-width: 300px;
    padding: 10px;
    padding-right: 5px;
    border-radius: 2px;
    z-index: 10000;
    margin-top:10px;
    min-height: 50px;
    pointer-events: all;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    user-select: none;
    background: var(--color-primary);
    color: var(--color-secondary);
}
.notification.error {
    background: var(--color-dark-red);
    color: var(--color-primary);
    fill: var(--color-primary) !important;
}
.modal > .actionbar .close,
.notification > .close {
    position: relative;
    flex-shrink: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    z-index: 100;
    margin: 5px;
    fill: var(--color-secondary);
}
.notification > .close > svg {
    width: unset;
    height: unset;
}
.notification > .close .ripple {
    background: var(--color-secondary-alt);
}
.notification > .content {
    hyphens: auto;
    width: 100%;
}
.notif-content > .ic {
    vertical-align: sub;
    margin-right: 8px;
}

/*
 * Ripple
 */
.ripple {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 0;
    height: 0;
    opacity: .5;
    transition: all .5s ease-in-out;
    background: var(--color-ripple);
    pointer-events: none;
}
.ripple-container {
    overflow: hidden;
    position: relative;
}

/*
 * Inputs
 */
input.text-field {
    background: transparent;
    z-index: 1;
    max-width: 300px;
    margin: 0px auto;
    width: 90%;
    padding: 2px 5px;
    border: medium none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 15px;
    color: var(--color-primary);
}

/*
 * Tooltips
 */
.tooltip {
    position: absolute;
    padding: 4px 6px;
    border-radius: 2px;
    opacity: 0;
    background: var(--color-secondary);
    font-size: 15px;
}
.tooltip::after {
    content: " ";
    position: absolute;
    margin: -5px;
    border-width: 5px;
    border-style: solid;
}
.tooltip.left {
    transform: translateX(-100%) translateY(-50%);
}
.tooltip.left::after {
    top: 50%;
    left: 0;
    border-color: transparent var(--color-secondary) transparent transparent;
}
.tooltip.right {
    transform: translateY(-50%);
}
.tooltip.right::after {
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent var(--color-secondary);
}
.tooltip.top {
    transform: translateX(-50%) translateY(-100%);
}
.tooltip.top::after {
    top: 0;
    left: 50%;
    border-color: transparent transparent var(--color-secondary) transparent;
}
.tooltip.bottom {
    transform: translateX(-50%);
}
.tooltip.bottom::after {
    top: 100%;
    left: 50%;
    border-color: var(--color-secondary) transparent transparent transparent;
}

/*
 * Buttons
 */
 .button {
    display: inline-block;
    cursor: pointer;
    width: max-content;
    font-size: 15px;
    background: var(--color-accent);
    color: var(--color-faded);
    padding: 4px 8px;
    border-radius: 3px;
    user-select: none;
}
.button:not(.disabled) {
    cursor: pointer;
    pointer-events: all;
}
.button.disabled {
    cursor: not-allowed;
}
.button.flat {
    color: inherit;
    background: inherit;
}
.button.compact {
    text-transform: uppercase;
    font-weight: bold;
}

/*
 * Graph
 */
.graph.container {
    display: flex;
    flex-flow: column nowrap;
}
.graph.container > .graph > .axis {
    stroke: var(--color-primary);
    fill: var(--color-primary);
}
.graph.container > .graph > path.graph-data {
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: var(--color-disabled);
}
.graph.container > .graph > text.marker {
    fill: var(--color-primary);
    font-size: 3px;
}
.graph.container > .graph > path.marker {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--color-disabled);
    stroke-width: .5px;
    stroke-dasharray: .1px 1px;
    stroke-dashoffset: 2px;
}
.graph.container > .graph + .caption {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
}
.graph.container > .graph + .caption > * {
    padding: 5px !important;
    margin-inline: 5px;
    font-size: 18px !important;
    height: 18px !important;
    text-overflow: clip;
    overflow: hidden;
    border-radius: 14px !important;
    display: flex !important;
    align-items: center;
    cursor: pointer;
}
.graph.container > .graph + .caption > * > *:first-child {
    height: 14px;
    aspect-ratio: 1;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--color-disabled);
}
.graph.container > .graph[has-selection] > path.graph-data:not([selected]) {
    stroke-opacity: .3;
}
.graph.container > .graph + .caption[has-selection] > [selected] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
.graph.container > .graph + .caption[has-selection] > :not([selected]) {
    opacity: .6
}
.graph.container > .graph > *,
.graph.container > .graph + .caption > * {
    transition: all .2s ease-in-out;
}

/*
 * Drawables
 */
.drawn-acc-fill {
    fill: var(--color-accent)
}
.drawn-acc-stroke {
    stroke: var(--color-accent)
}

/*
 * Modals
 */
.modal {
    display: none;
    top: 50%;
    float: left;
    left: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    z-index: 99999;
    box-shadow: 0 0 20px var(--color-full-dark);
    border-radius: 2px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background: var(--color-secondary);
    color: var(--color-primary);
}
.modal > .actionbar {
    width: auto;
    height: auto;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    user-select: none;
    background: var(--color-primary);
    color: var(--color-secondary);
}
.modal > .actionbar > .writable {
    font-size: 26px;
    text-decoration: none;
    margin: 8px;
}
.modal .container {
    padding: 8px 12px;
    max-height: 75vh;
    overflow: auto;
}
.modal .actionlist {
    position: relative;
    padding: 2px 0 8px 8px;
    display: flex;
    justify-content: flex-end;
}
.mask {
    display: none;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
}

/*
 * Activity
 */
.activity {
    width: 100vw;
    height: 100vh;
    background: var(--color-secondary);
}
.activity[slide="in"] {
    transform: translateX(-100vw);
}
.activity[slide="out"] {
    transform: translateX(100vw);
}
.activity[fade="in"],
.activity[fade="out"] {
    opacity: 0;
}

/*
 * Base
 */
.app-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 24px 0 0 0 !important;
}

/*
 * Loaders
 */
.loadable > svg.loader {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: var(--color-accent);
    width: 50px;
    height: 50px;
}

/*
 * Home activity
 */
.activity.home {
    display: flex;
    flex-flow: row nowrap;
}
.activity.home > * {
    height: 100%;
}
.activity.home > .side {
    flex: 1 0 200px;
    display: flex;
    flex-flow: column nowrap;
    background: var(--color-full-dark);
    gap: 10px;
    overflow-y: auto;
    align-items: center;
    position: relative;
}
.activity.home > .side > .headers {
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.activity.home > .side > .headers > .header {
    padding: 10px;
    cursor: pointer;
}
.activity.home > .side > .headers > .header[selected] {
    border-bottom: 1px solid var(--color-accent);
}
.activity.home > .side > .headers > :not(.header) {
    display: none;
}
.activity.home > .side > .wish {
    display: block;
    border-radius: 40px;
    background: var(--color-secondary);
    width: 95%;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.activity.home > .overview {
    flex: 3 1 400px;
}

/*
 * Animations
 */
.smooth {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

/*
 * Cards
 */
.card {
    border: var(--color-primary) 1px solid;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-secondary);
    margin-bottom: 10px;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    position: relative;
}
.card > .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    flex-shrink: 0;
}
.card > .details > .name {
    font-size: 18px;
}
.card > .details > .description {
    font-size: 16px;
    font-style: italic;
    color: var(--color-disabled);
}
.card > .details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 4 2 auto;
    margin: 0 10px;
}
.card:hover {
    border-color: var(--color-accent);
    background-color: var(--color-secondary-alt);
    color: var(--color-accent);
}
.card:hover > .details > .description {
    color: var(--color-accent);
}
.card:hover > .icon > path {
    stroke: var(--color-accent);
    animation: iconHover .5s ease-in-out forwards;
}
@keyframes iconHover {
    0% {
        stroke-width: 1;
    }
    80% {
        stroke-width: .5;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: .5;
        fill: transparent;
    }
}

/*
 * AppBar
 */
 .app-bar {
    width: 100vw;
    height: 24px;
    background: var(--color-app-bar);
    z-index: 10;
    position: fixed;
    -webkit-app-region: drag;
}
.app-bar > .title {
    float: left;
    font-weight: 700;
    padding-left: 5px;
    user-select: none;
}
.app-bar .status {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.app-bar .status div {
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
    fill: var(--color-primary);
    -webkit-app-region: no-drag;
}
.app-bar .status .maximize {
    background-color: var(--color-green);
}
.app-bar .status .minimize {
    background-color: var(--color-yellow);
}
.app-bar .status .close {
    background-color: var(--color-red);
}

/*
 * Fonts
 */
@font-face{
    font-family: Source Sans Pro;
    font-weight: 300;
    src: url("../resources/fonts/Open Sans Pro/SourceSansPro-Light.ttf") format('truetype');
}
@font-face{
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: italic;
    src: url("../resources/fonts/Open Sans Pro/SourceSansPro-LightItalic.ttf") format('truetype');
}
@font-face{
    font-family: Source Sans Pro;
    font-weight: 100 200;
    src: url("../resources/fonts/Open Sans Pro/SourceSansPro-ExtraLight.ttf") format('truetype');
}
@font-face{
    font-family: Source Sans Pro;
    font-weight: 100 200;
    font-style: italic;
    src: url("../resources/fonts/Open Sans Pro/SourceSansPro-ExtraLightItalic.ttf") format('truetype');
}

@media (max-width: 700px) {
    #notif-holder, .notification {
        max-width: 80%
    }
}

/*
 * General improvements
 */
::selection {
    background-color: var(--color-secondary);
    color: var(--color-accent)
}
::-webkit-scrollbar {
    background: var(--color-app-bar);
    width: 8px;
    border-radius: 10px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: var(--color-disabled);
    border-radius: 10px;
}